---
name: Ansible Lint
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup local role symlink for ansible-lint
        run: |
          mkdir -p roles
          ln -sf ../.. roles/ansible-mondoo

      - name: Run ansible-lint
        uses: ansible/ansible-lint@main

  license-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Copywrite
        uses: hashicorp/setup-copywrite@32638da2d4e81d56a0764aa1547882fc4d209636 # v1.1.3

      - name: Check Header Compliance
        run: copywrite headers --plan
